.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 300px;
  position: relative;
  height: 300px;
  font-weight: bold;
  color: #fff;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  left: 37vw;
  top: -83vh;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 24px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);

}

@media (max-height: 500px ){
  .circular-text {
    width: 150px;
    height: 150px;
    left: 40vw;
    top: 33vh;
    position: absolute;
    z-index: -1;
  }

  .circular-text span {
    font-size: 16px;
  }
}

.custom-class-light {
  color: #ffffff;
}
